<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="VendingMachine"
      connectionString="Data Source=NIKKI;Initial Catalog=VendingMachine;User ID=sa;Password=sa123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>